@charset "UTF-8";

#header { 
	background-color: white; color:#213421;
	align-content: center; vertical-align:middle;
	width: 1000px; height: 100px;
	position: relative;
}
	
#main { 
	width: 1500px;
	text-align: center; align-content:center;
	position: static;
}
	
#sub {
	background-color: white; color: #213421;
	width: 1000px;
	position: relative; top: 20px; left: 20px;
}

 table {  
	padding: 10px;
	border-spacing: 0px;
	position: absolute;
	background-color: white; color: #213421;
	width: 1500px; height: 1000px;
} 

#title { /* 타이틀 */
	text-align: center;
	column-span: 6;
	font-size: 16pt;
	width: 100%;
}

#filter { /* select */
	text-align:left;
	column-span: 6;
}

#content {
	text-align: center;
	border-top-color: #D7D7D2;
	height: 30px;
}

#content:hover {
	background-color: #213429;
}

#insertCmnt {
	text-align: left;
	column-span: 6;
}

#search {
	column-span: 6;
	text-align: center;
}

a { /* a태그  */
	text-decoration: none; color: black;
}
	
a:hover { /* a태그(글 제목) hover */
	text-decoration: underline;
}

select {
	/* background: url("image/arrow.jpg") no-repeat 95% 50%; */
	background-color: white; color: #213421;
	width: 70px; padding: .5em .3em;
	border: 1px solid #CACAC6; border-radius: 5px; 
	font-family: inherit; font-size: 2;
	-webkit-appearance: none; -moz-appearance: none; appearance: none; 
}	
	
#button { /* select 검색 */
	width: 70px; padding: .5em .3em;
	border: 1px solid #CACAC6; border-radius: 5px; 
	font-family: inherit; font-size: 2;
	-webkit-appearance: none; -moz-appearance: none; appearance: none; 
	color: black;
}
	
#wideButton {
	width: 200px; padding: .5em .3em;
	border: 1px solid #CACAC6; border-radius: 5px; 
	font-family: inherit; font-size: 2;
	-webkit-appearance: none; -moz-appearance: none; appearance: none; 
}
	
#style { /* input 단추 */
	width: 70px; padding: .5em .3em;
	border: 1px solid #CACAC6;
	font-family: inherit; font-size: 2;
	background-color:#213429; color:white;
	border-radius: 5px; appearance: none; 
	-webkit-appearance: none; -moz-appearance: none;
}
	
#style:hover { /* input 단추 hover */
	background-color: white;
	color: #213429;
}

#insertstyle { /* input 단추 */
	width: 70px; padding: .5em .3em;
	border: 1px solid #CACAC6;
	font-family: inherit; font-size: 2;
	background-color:#213429; color:white;
	border-radius: 5px; appearance: none; 
	-webkit-appearance: none; -moz-appearance: none;
	align-content: right;
}
	
#insertstyle:hover { /* input 단추 hover */
	background-color: white;
	color: #213429;
}